.container{
    width: min(40ch, 100vw - 1rem);

}
body{
    margin: 0;
    height: 100%;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #152759;
    font-size: large;
    align-items: center;
}
nav > ul{
    background-color: #152759;
    list-style: none;
    display: flex;
    padding: 0;
    gap: 1rem;
    margin: 4rem;
    color: aliceblue;
    text-decoration: white;
    font-size:large;
    
}

nav > a {
    background-color: #152759;
    max-width: 50%;
    max-height: 50%;
}   
nav>a>img{
    max-width: 100%;
    max-height: 100%;
    min-width: 100px;
    min-height: 50px;
    padding-left: 2rem;
    padding-bottom: 5px;
    padding-top: 5px;
}
.with-sidebar {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.sidebar {
    /* ↓ The width when the sidebar _is_ a sidebar */
    padding-top: 2rem;
    padding-left: 2rem;
    flex-basis: 20rem;
    flex-grow: 1;
    background-color: gainsboro;
    height: 100%;
    max-width: 500ch;
}
aside>img{
    max-width: 100%;
}
aside>ul{
    list-style: none;
    margin: none;
    padding: none;
}

.not-sidebar {
    /* ↓ Grow from nothing */
    flex-basis: 0;
    flex-grow: 999;
    /* ↓ Wrap when the elements are of equal width */
    min-inline-size: 50%;
}

header>ul{
    gap: 1rem;
    list-style: none;
    max-width: 35ch;
}
article {
    width: min(40ch, 100vw - 1rem);
    font-family: 'Times New Roman', Times, serif;
    background-color: aliceblue;
}
article>p{
    margin: 3px;
}
article>h1{
    margin: 10px;
}
@media screen and (max-height: 700px) {
    nav>a>img {max-width: 200;}
}