.container{
    width: min(40ch, 100vw - 1rem);

}
body{
    margin: 0;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #152759;
    font-size: large;
}
nav > ul{
    background-color: #152759;
    list-style: none;
    display: flex;
    padding: 0;
    gap: 1rem;
    margin: 4rem;
    color: aliceblue;
    text-decoration: white;
    font-size: larger;
}
nav > a {

    padding-left: 2rem;
    background-color: #152759;
    max-width: 100%;
    max-height: 100%;
}   
nav>a>img{
    max-width: 396;
    max-height: 200;
}
.with-sidebar {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.sidebar {
    /* ↓ The width when the sidebar _is_ a sidebar */
    flex-basis: 20rem;
    flex-grow: 1;
    background-color: gainsboro;
}

.not-sidebar {
    /* ↓ Grow from nothing */
    flex-basis: 0;
    flex-grow: 999;
    /* ↓ Wrap when the elements are of equal width */
    min-inline-size: 50%;
}

header>ul{
    gap: 1rem;
    list-style: none;
    max-width: 35ch;
}
article {
    width: min(40ch, 100vw - 1rem);
    font-family: 'Times New Roman', Times, serif;
    background-color: aliceblue;
}
article>p{
    margin: 3px;
}
article>h1{
    margin: 10px;
}